<!DOCTYPE html>
<html lang="en">
<head>
<title>Tool Successfully Removed!<</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style type="text/css">
    .background{
    	margin: 40px;
    }
</style>
</head>

<body>
	<div class="background">
		<div id="side">
			<!--Stuff to put in the side area-->
		</div>
		
		<div class="alert alert-success" role="alert" id="center">
			<!--Stuff to put in the center area-->
			<h4>Success!</h4>
			<p>Your tool has been successfully removed from your ShareZone's shed. <a href="/home/">Return</a></p>
		</div>
	</div>
</body>
</html>
