{% extends 'base.html' %}

{% block title %}Tool Creation{% endblock %}

{% block content %}
<style type="text/css">
    body {
		background: #e0e0e0;
	}
	
	.tool_creation{
    	margin: 0 auto;
		padding: 20px;
		width: 80%;
		background: white;
    }
	
	.checkbox {
		margin-left: 15px;
	}
</style>
<div class="tool_creation">
	<form action="/register_tool" method="post">
		{% csrf_token %}
		<div class="form-inline">
			<label for="toolname" class="col-sm-2 control-label">Tool Name</label>
			<div class="col-sm10">
				<input type="toolname" maxlength="20" class="form-control" name="toolname" id="toolname" placeholder="Tool Name" required >
			</div>
		</div>
		<br>
		<div class="form-inline">
			  <label class="col-sm-2 control-label" for="description">Description</label>
			  <div class="col-sm10">
				<textarea class="form-control" maxlength="50" id="description" name="description" placeholder="Description" rows="5"></textarea>
			  </div>
		</div>
		<br>
		<div class="form-inline">
			<label for="modelnumber" class="col-sm-2 control-label">Model Number</label>
			<div class="col-sm10">
				<input type="modelnumber" maxlength="25" class="form-control" name="modelnumber" id="modelnumber" placeholder="Model Number">
			</div>
		</div>
		<br>
		<div class="form-inline">
			<label for="condition" class="col-sm-2 control-label">Condition</label>
			<select class="form-control input-lg" name="condition">
				<option value="5">New</option>
				<option value="4">Good</option>
				<option value="3">Average</option>
				<option value="2">Worn</option>
				<option value="1">Damaged</option>
				<option value="0">Destroyed</option>
			</select>
		</div>
		{% if tuser_age >= 10 %}
			<br>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="powertool" value="{{True}}, {{False}}"> Power Tool
				</label>
			</div>
		{% endif %}
		<br>
		<input type="submit" class="btn btn-primary" role="button" value="Register">
	</form>
</div>
{% endblock %}